<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd">

	<bean id="camera" class="com.suru.springtest.aopex1.model.Camera"></bean>
	<bean id="logger" class="com.suru.springtest.aopex1.model.Logger"></bean>

	<aop:config>
		<aop:pointcut
			expression="execution(void com.suru.springtest.aopex1.model.Camera.snap())"
			id="cameraSnap" />
		<aop:aspect ref="logger" id="loggerAspect">
			<aop:before method="logMySnap" pointcut-ref="cameraSnap" />
			<aop:after method="afterMySnap" pointcut-ref="cameraSnap" />
		</aop:aspect>
		
	</aop:config>
</beans>
